body {
	background-color: #f6f7f9;
}

.dick_editor {
	background-color: white;
	width: 800px;
	margin: 10px auto;
	border-radius: 6px;
}

	.paper {
		width: 800px;
		height: 600px;

	}

		#canvas {

		}

	.tools_bar {
		border-top: 1px solid #f6f7f9;
	}

		.tool {
			display: inline-block;
			padding: 20px 30px;
			padding-right: 0px;
		}

			.tool_label {
				font-size: 0.8rem;
				line-height: 30px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
			}

			.tool ul li, .tool ul {
				display: inline-block;
				height: 30px;
				vertical-align: middle;
			}

			.tool .tool_item {
				width: 30px;
				height: 100%;
				display: block;
				text-align: center;
				padding-top: 5px;
				opacity: 0.5;
			}
			.tool .tool_item.active {
				opacity: 1;
			}

				.tool img {
					display: inline-block;
					width: 20px;
					height: 20px;
				}

		.action {
			display: inline-block;
			float: right;
			padding: 20px 30px;
			padding-left: 10px;
		}

			#save {
				display: block;
				padding: 8px 15px;
				min-width: 135px;
				height: 32px;
				font-size: 0.8em;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
				color: #fff;
				background-color: #40accf;
				border-radius: 4px;
			}


	.size {
		display: inline-block;
		border-radius: 60px;
		background-color: black;
		line-height: 30px;
		vertical-align: middle;
	}
	.color {
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 20px;
	}
